<!-- <p>{{weatherData.city.name}} - </p> -->
<button mat-mini-fab id="weather-settings" (click)="chooseLocation()">
    <mat-icon>settings</mat-icon>
</button>
<div id="weather-header" *ngIf="today">
    <div id="weather-image">
        <img src="assets/leaves.jpg" />
        <div class="mat-card" id="weather-today">
            <b>{{city}}, {{country}}</b>
            <p>{{today.description}}</p>
            <span>{{today.temperature | number: '1.0-0'}}&#176;</span>
        </div>
    </div>
</div>
<div id="future-container" *ngIf="next3Days">
    <div class="weather-day mat-card" *ngFor="let day of next3Days">
        <span class="degrees">{{day.temperature | number: '1.0-0'}}&#176;</span>
        <div class="weather-icon">
            <img src={{day.getIconUrl()}} />
        </div>
        <span>{{day.getDayOfWeek()}} | {{day.getHour()}}</span>
    </div>
</div>