@import '../../_variables';

#weather-image, #weather-image > img {
    width: 100%;
}

.weather-icon {
    display: inline-block;
    height: 64px;
    width: 64px;
}

.weather-icon > img {
    height: 100%;
    width: 100%;
}

#weather-image > img {
    border-radius: 4px;
}

#weather-today {
    width: 75%;
    margin: -80px auto 20px auto;
}

.weather-day {
    background-color: $color-primary;
    margin-bottom: 10px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.degrees {
    font-size: 2em;
}

#weather-settings {
    background-color: white;
    color: black;
    position: absolute;
    top: 32px;
    right: 32px;
}

#future-container {
    height: 100%;
    overflow-y: scroll;
    max-height: 350px;
}