@import '../../_variables';

.article-text {
    margin: 10px 0;
    display: inline-block;
    flex-grow: 1;
}

.article-picture {
    padding: 0px;
    position: relative;
}

.article-inner-picture {
    width: 100%;
    border-radius: 4px;
}

.article-actions {
    display: flex;
    justify-content: space-around;
}

#news-settings {
    position: absolute;
    top: 32px;
    right: 32px;
    color: white;
    background-color: $color-primary;
}

.news-button {
    color: black;
    background-color: white;
    position: absolute;
    bottom: 32px;
    z-index: 1000;
}

#news-prev {
    left: 16px;
}

#news-next {
    right: 16px;
}

.article-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

[hidden] { 
    display: none !important;
}