<div *ngIf="articles != null">
    <button mat-fab id="news-settings">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-fab id="news-prev" class="news-button" (click)="cycleNews(false)">
            <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-fab id="news-next" class="news-button" (click)="cycleNews(true)">
            <mat-icon>arrow_forward</mat-icon>
    </button>
    <h2>Extra extra, read all about it</h2>
    <!-- <div *ngFor="let article of articles"> -->
    <div>
                <div class="author-info">
            <!-- <img src={{}} /> -->
            <div>
                <b class="author-name">{{currentArticle.author}}</b>
                <p class="author-company">{{currentArticle.source.name}}</p>
            </div>
        </div>
        <div class="article-picture mat-card">
            <img src={{currentArticle.urlToImage}} class="article-inner-picture" />
        </div>
        <h2 class="article-text">{{currentArticle.title}}</h2>
        <div class="article-text">{{currentArticle.content}}</div>
        <div class="article-actions">
            <button mat-flat-button><mat-icon>thumb_up</mat-icon>Like</button>
            <button mat-flat-button (click)="addToFavourites()"><mat-icon>star</mat-icon>Add to favourites</button>
        </div>
    </div>
</div>

<div *ngIf="articles == null" class="spinner-container">
    <mat-progress-spinner [color]="primary" [mode]="'indeterminate'">
    </mat-progress-spinner>
</div>