<mat-toolbar color="primary" class="mat-elevation-z4 flex" id="main-toolbar">
	<mat-toolbar-row>
		<i class="material-icons" (click)="popSideMenu()">menu</i>
		<span class="flex-fill">Arcane</span>
		<i class="material-icons" (click)="goToSearch()">search</i>
	</mat-toolbar-row>
</mat-toolbar>
<div id="main-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="10px">
	<div fxLayout="column" fxFlex="70" fxLayoutAlign="space-evenly stretch" fxLayoutGap="10px">
		<mat-card fxFlex="20" fxLayout="row" fxLayoutAlign="space-between center" id="welcome-container">
			<div id="sun-image" class="image">

			</div>
			<span class="mat-title">Welcome, weary traveller!</span>
		</mat-card>
		<div fxLayout="row" fxFlex="60" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="10px">
			<mat-card fxFlex="33">

			</mat-card>
			<mat-card fxFlex="33">

			</mat-card>
			<mat-card fxFlex="33">

			</mat-card>
		</div>
		<app-spotify class="mat-card" fxFlex="20" fxLayout="row" fxLayoutAlign="space-between center" id="spotify-player-container">
			
		</app-spotify>
	</div>
	<app-news id="news-container" class="mat-card" fxFlex="30">

	</app-news>
</div>